<template>
    <lightning-card title="Accounts">
        <template iterator:it={records}>
            <div key={it.value.Id}>
                <lightning-record-form
                    record-id={it.value.Id}
                    object-api-name="Account"
                    fields={fields}
                    record-type-id={it.value.RecordTypeId}
                    columns="3"
                    mode="edit">
                </lightning-record-form>
            </div>
        </template>
    </lightning-card>
</template>