<template>

    <lightning-button variant="neutral"
                      label="Prev"
                      icon-name="utility:chevronleft"
                      title="Base action"
                      onclick={handlePrev}
                      class="slds-m-left_x-small"
                      disabled={disablePrevious}></lightning-button >

    <template if:true={pages}>
        <template for:each={pages} for:item="page">
            <lightning-button variant="neutral"
                              label={page.label}
                              key={page}
                              data-id={page.label}
                              disabled={page.disabled}
                              onclick={onPageClick}></lightning-button>
        </template>
    </template>

    <lightning-button variant="neutral"
                      label="Next"
                      icon-name="utility:chevronright"
                      title="Base action"
                      onclick={handleNext}
                      class="slds-m-left_x-small"
                      disabled={disableNext}></lightning-button>

</template>