<template>
       <lightning-card title="Pagination Demo" icon-name="custom:custom63">
           <div class="slds-m-around_medium">
               <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                   <thead>
                       <tr class="slds-line-height_reset">
                       <th class="slds-text-title_caps" scope="col">
                       <div class="slds-truncate" title="Contact Name">Contact Name</div>
                       </th>
                       <th class="slds-text-title_caps" scope="col">
                       <div class="slds-truncate" title="Email">Email</div>
                       </th>
                       <th class="slds-text-title_caps" scope="col">
                       <div class="slds-truncate" title="Phone">Phone</div>
                       </th>
                       </tr>
                   </thead>
                   <template if:true={contacts}>

                   <tbody>
                       <template for:each={contacts} for:item="contact">
                       <tr key={contact.Id} class="slds-hint-parent">
                       <th data-label="Opportunity Name" scope="row">
                       <div class="slds-truncate" title="Cloudhub">{contact.Name}</div>
                       </th>
                       <td data-label="Confidence">
                       <div class="slds-truncate" title="20%">{contact.Email}</div>
                       </td>
                       <td data-label="Amount">
                       <div class="slds-truncate" title="$25k">{contact.Phone}</div>
                       </td>
                       </tr>
                       </template>
                   </tbody>
                   </template>
               </table>

           </div>

           <lightning-layout>
               <lightning-layout-item>
                   <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={handlePrevious}></lightning-button>
               </lightning-layout-item>
               <lightning-layout-item flexibility="grow" style="text-align: center;">
                   Page :{pageNumber} of {totalPages} [Cached {currentRecordCount} records of total {count} Records]
               </lightning-layout-item>
               <lightning-layout-item>
                   <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={handleNext}></lightning-button>
               </lightning-layout-item>
           </lightning-layout>

       </lightning-card>

</template>