<template>
    <lightning-card title="Conditional rendering">
        <div class="slds-var-m-around_medium">
            <lightning-button variant="brand" 
            label="Show it to me!"
            title="Show it to me!" 
            onclick={handleClick} 
            class="slds-m-left_x-small"></lightning-button>

            <template if:true={isVisible}>
                <div>Welcome to Zero to Hero series</div>
            </template>

            <template if:false={isVisible}>
                <div>You can't see the data, please click the button</div>
            </template>

            <lightning-input type="text" label="Type hello to see the data" onkeyup={changeHandler}></lightning-input>
            <template if:true={helloMethod}>
                <div>Hurray, you have typed directly</div>
            </template>
            
            
        </div>
    </lightning-card>
</template>