<template>
    <lightning-card title="Data Display using Wire">
        <template for:each={data} for:item="account">
            <p key={account.Id}>{account.Name}</p>
        </template>
    </lightning-card>
</template>