<template>
    <lightning-card title="querySelector Demo">
        <div class="slds-var-m-around_medium">
            <template for:each={userNames} for:item="user">
                <div class="name" key={user} title={user}>{user}</div>
            </template>
            <div class="child" lwc:dom="manual"></div>
            <button onclick={fetchDetailHandler}>Fetch details</button>
        </div>
    </lightning-card>
    
</template>