<template>
    <lightning-card title="Pagination Test" icon-name="custom:custom63">

        <table class="slds-table slds-table_cell-buffer slds-table_bordered" >
            <thead>
            <tr>
                <th>
                    <div>Id</div>
                </th>
                <th>
                    <div>Name</div>
                </th>
                <th>
                    <div>Phone</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <template if:true={accounts}>
                <template for:each={accounts} for:item="account">
                    <tr key={account.Id}>
                        <td key={account.Id}>
                            {account.Id}
                        </td>
                        <td key={account.Name}>
                            {account.Name}
                        </td>
                        <td key={account.Phone}>
                            {account.Phone}
                        </td>
                    </tr>
                </template>
            </template>
            </tbody>
        </table>
        <br>

        <div class=slds-m-around_small>
            <template if:true={totalRecords}>
            <c-paginator-component total-records={totalRecords}
                                   page-limit={pageLimit}
                                   onselected={selectPage}>
            </c-paginator-component>
            </template>
        </div>

    </lightning-card>
</template>