<template>
    <div class="slds-m-top_medium slds-m-bottom_x-large">
        <h2 class="slds-text-heading_medium">
            Account Record List.
        </h2>

        <div class="slds-p-around_medium lgc-bg">
            <lightning-datatable key-field="Id" data={accounts} columns={columns} is-loading={tableLoadingState}>
            </lightning-datatable>
        </div>
        <div style="text-align:center;">
            <c-pagination-navigation onprevious={handlePrev} onnext={handleNext}></c-pagination-navigation>
        </div>
    </div>
</template>