<template>

    <lightning-button variant="brand" label="Prev" icon-name="utility:chevronleft" title="Base action"
        onclick={handlePrev} class="slds-m-left_x-small" disabled={disabledPrevious}></lightning-button>
    <lightning-button variant="brand" label="Next" icon-name="utility:chevronright" title="Base action"
        onclick={handleNext} class="slds-m-left_x-small" disabled={disableNext}></lightning-button>

</template>