.wrapper{
    width: 100%;
    background-color: #ddd;
}

.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.css{
    width: 150%;
    background-color:teal;
}