<template>
    <c-p2c-alert-component message="Hurray! I got the data!"
    card-heading="Parent to child primitive data communication"
    number=20
    is-valid=false>

    </c-p2c-alert-component>

    <div class="slds-var-m-bottom_medium"></div>
    <c-p2c-carousel-component></c-p2c-carousel-component>

</template>