<template>
    <div>
        <table class='slds-table'>
            <thead>
                <tr>
                    <th>
                        <a data-id="Id">
                            <div>Id</div>
                        </a>
                    </th>
                    <th>
                        <a data-id="Name">
                            <div>Name</div>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={searchable} for:item="account">
                    <tr key={account.Id}>
                        <td key={account.Id}>
                            {account.Id}
                        </td>
                        <td key={account.Name}>
                            {account.Name}
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div style="float: right;">
            <button style="margin-right: 10px;" onclick={prevpage}>
                <lightning-icon icon-name="utility:chevronleft" onclick={prevpage}></lightning-icon>
            </button>
            <button>
                <lightning-icon icon-name="utility:chevronright" onclick={nextpage}></lightning-icon>
            </button>
        </div>
    </div>
</template>