/* element, classes, pseudo */
p {
    color: green;
    font-size: 30px;
    border: 1px solid red;
}

.user {
    color: pink;
    font-size: 20px;
}

.user:hover{
    font-size: 100px;
    color: salmon;
}