<template>
    <lightning-card title="inline styling">
        <div class="slds-m-around_medium">
            <div style="color: red; font-size:20px">Hello i am DIV tag</div>
        </div>
    </lightning-card>

    <lightning-card title="inline styling">
        <div class="slds-m-around_medium">
            <p>Hey I am P tag</p>
            <div class="user">Zero to Hero</div>
        </div>
    </lightning-card>
</template>